@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* Section--1 */

.section1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/resources/Banner\ Image.png);

  width: 1320px;
  height: 600px;
  margin-top: 50px;
  border-radius: 15px;
}
.banner .happy,
.year {
  color: white;
  text-align: center;
}
.banner .happy {
  font-size: 32px;
  font-weight: 400;
  margin-top: 180px;
}

.banner .year {
  font-size: 72px;
  font-weight: 900;
  -webkit-text-stroke: 0.8px;
  -webkit-text-stroke-color: rgb(237, 8, 8);
}

/* Section--2 */

.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section2 .offer {
  color: red;
  font-size: 88px;
  font-weight: 700;
  margin-top: 100px;
}

.section2 .our {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  color: red;
  margin-top: 30px;
  margin-bottom: 20px;
}

.section2 .all {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
}
.section2 img {
  width: 802.9px;
  height: 500px;
  padding-bottom: 50px;
}

/* Section--3 */

.banner2 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.1)
    ),
    url(/resources/Vectorrr.png);
  width: 1320px;
  height: 600px;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  position: relative;
  left: 300px;
  border-radius: 15px;
}

.banner2 .wel {
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 5px;
  font-family: "Times New Roman", Times, serif;
}

.banner2 .these {
  font-size: 16px;
  font-weight: 100;
  line-height: 30px;
  letter-spacing: 1px;
}

.banner2 button {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  background: transparent;
  border: none;
  cursor: pointer;
}

.banner2 .wel,
.these,
button {
  color: white;
  margin: 25px 70px;
  position: relative;
  left: 50px;
  top: 120px;
}
.rightside {
  width: 320px;
  height: 465px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 65px;
}

/* Section--4 */

.section4 {
  width: 1320px;
  height: 485px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  position: relative;
  left: 300px;
  border-radius: 15px;
}
.section4 .pdt {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
}
.btn2 {
  width: 165px;
  height: 55px;
  padding: 16px 32px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  left: 500px;
  top: 50px;
}

/* Section--5  Bonus */

.section5 {
  display: flex;
  margin: 100px 300px;
  margin-top: 100px;
}

.col1 .new {
  font-size: 24px;
  font-weight: 500;
  margin-top: 40px;
}
.col1 .comingsoon {
  font-family: "Times New Roman", Times, serif;
  font-size: 48px;
  font-weight: 900;
  margin-top: 40px;
}

.col1 .the {
  width: 400px;
  height: 130px;
  font-size: 20px;
  font-weight: 500;
  color: rgb(42, 42, 42);
  margin-top: 60px;
}

.col2{margin-left: 40px;}

.col3 {
  text-align: start;
  padding: 50px;
  margin-left: 75px;
}

.col3 .years {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
}

.col3 .the {
  font-size: 20px;
  font-weight: 500;
  color: rgb(42, 42, 42);
  margin-top: 10px;
}

.col2 img {
  border-radius: 50%;
  padding: 25px;
  border: 15px solid red;
}

.col3 img{
    margin-top: 20px;
}



/* Section--6 */



.sectoin6{
    margin-bottom: 100px;
    position: relative;
}


.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text .what{font-size:24px;  font-weight: 500;}

.text .holi {
    font-size: 72px;
   font-weight: 900;
   margin-top: 20px;
}

.text .use{
    text-align: center;
    font-size: 20px;
   font-weight: 300;
   margin-top: 20px;
   margin-bottom: 50px;
}

 .girl{
    float: right;
    position: relative;
    right: 300px;
}

.sectoin6 .downimg{
    background-image: url(/resources/Rectangle\ 2.png);
    width: 1320px;
    height: 230px;
    position: relative;
    top:120px;
    left: 283px;
}

.downimg img{
    height: 500px;
    position: relative;
    top: -300px;
    left: 100px;
}

.image .discount{
    position: relative;
    top: 80px;
    left: 1000px;
}





/* Section--7 */

.headeline{
    
}