@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  h1, h2, h3, h4, h5, p {
    cursor: pointer;
  }
}


/* Section--1 */




.section1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(resources/Banner\ Image.png);

  width: 1320px;
  height: 600px;
  margin-top: 50px;
  border-radius: 15px;
}
.banner .happy,
.year {
  color: white;
  text-align: center;
}
.banner .happy {
  font-size: 32px;
  font-weight: 400;
  margin-top: 180px;
}

.banner .year {
  font-size: 72px;
  font-weight: 900;
  -webkit-text-stroke: 0.8px;
  -webkit-text-stroke-color: rgb(237, 8, 8);
}


/* Section--2 */

.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section2 .offer {
  color: red;
  font-size: 88px;
  font-weight: 700;
  margin-top: 100px;
}

.section2 .our {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  color: red;
  margin-top: 30px;
  margin-bottom: 20px;
}

.section2 .all {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
}
.section2 img {
  width: 802.9px;
  height: 500px;
  padding-bottom: 50px;
}





/* Section--3 */

.banner2 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.1)
    ),
    url(resources/Vectorrr.png);
  width: 1320px;
  height: 600px;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  position: relative;
  left: 300px;
  border-radius: 15px;
}

.banner2 .wel {
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 5px;
  font-family: "Times New Roman", Times, serif;
}

.banner2 .these {
  font-size: 16px;
  font-weight: 100;
  line-height: 30px;
  letter-spacing: 1px;
}

.banner2 button {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  background: transparent;
  border: none;
  cursor: pointer;
}

.banner2 .wel,
.these,
button {
  color: white;
  margin: 25px 70px;
  position: relative;
  left: 50px;
  top: 120px;
}
.rightside {
  width: 320px;
  height: 465px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 65px;
}



/* button Hover Effect */

.btn1{transition: 0.3s;}

.btn1:hover{
  color: #ceb348;
  transition: 0.3s;
  transform: scale(1.2); }




/* Section--4 */


.section4 {
  width: 1320px;
  height: 485px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  position: relative;
  left: 300px;
  border-radius: 15px;
}
.section4 .pdt {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
}
.btn2 {
  width: 165px;
  height: 55px;
  padding: 16px 32px;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  left: 500px;
  top: 50px;
  transition: 0.2s;
}
.btn2:hover{
  box-shadow: 0 0 0 4px white, 0 0 0 8px red ;
}


/* Section--5  Bonus */

.section5 {
  display: flex;
  margin: 100px 300px;
  margin-top: 100px;
}

.col1 .new {
  font-size: 24px;
  font-weight: 500;
  margin-top: 40px;
}
.col1 .comingsoon {
  font-family: "Times New Roman", Times, serif;
  font-size: 48px;
  font-weight: 900;
  margin-top: 40px;
}

.col1 .the {
  width: 400px;
  height: 130px;
  font-size: 20px;
  font-weight: 500;
  color: rgb(42, 42, 42);
  margin-top: 60px;
}

.col2 {
  margin-left: 40px;
}

.col3 {
  text-align: start;
  padding: 50px;
  margin-left: 75px;
}

.col3 .years {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
}

.col3 .the {
  font-size: 20px;
  font-weight: 500;
  color: rgb(42, 42, 42);
  margin-top: 10px;
}

.col2 img {
  border-radius: 50%;
  padding: 25px;
  border: 15px solid red;
}

.col3 img {
  margin-top: 20px;
}

/* Section--6 */

.sectoin6 {
  margin-bottom: 100px;
  position: relative;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text .what {
  font-size: 24px;
  font-weight: 500;
}

.text .holi {
  font-size: 72px;
  font-weight: 900;
  margin-top: 20px;
}

.text .use {
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 50px;
}

.girl {
  float: right;
  position: relative;
  right: 300px;
}

.sectoin6 .downimg {
  background-image: url(resources/Rectangle\ 2.png);
  width: 1320px;
  height: 230px;
  position: relative;
  top: 120px;
  left: 283px;
}

.downimg img {
  height: 500px;
  position: relative;
  top: -300px;
  left: 100px;
}

.image .discount {
  position: relative;
  top: 80px;
  left: 1000px;
}

/* Section--7 */

.section7 {
  position: relative;
  left: 300px;
}

.sectionbx {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section7 h4 {
  margin-top: 300px;
  color: #f00;
  font-size: 24px;
  font-weight: 700;
}

.section7 h2 {
  font-size: 48px;
  font-weight: 700;
}
.section7 p {
  margin: 30px 0;
  font-size: 20px;
  font-weight: 200;
}


.boxs {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px 20px;
  position: relative;
  left: -300px;
}

.box{
  width: 424px;
  height: 451px;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}
.box img{
  width: 100%;
  height: 100%;
  filter: grayscale(.4);
  transition: .3s;
}


/* Icon Hover Effect */

.box img:hover{
  filter: grayscale(0);
  transform: scale(1.3) rotate(6deg); }


.boxs h1{
    color: #2a2929;
    padding: 89px 30px 30px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;  
    opacity: 0;
    transition: 0.4s;
  }

.boxs h1:hover{
opacity: 1;
  transition: 0.5s;
}


/* Section8 */



.section8 {
    background:#fff2f2 ;
    width: 1320px;
    height: 610px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 300px;
    top: 100px;
    margin-bottom: 200px;
}

.section8 h2{
    margin-top: 50px;
    font-size: 48px;
    font-weight: 900;
}
.section8 p{
    margin-top: 40px;
    text-align: center;
    font-size: 20px;
    color: rgb(34, 34, 34);
}

.scrbx{
    margin-top: 50px;
}
.scrbx input{
    position: relative;
    display: inline-block;
}

input[type="text"]
{
    width: 440px;
    height: 70px;
    padding: 30px;
    border-radius: 50px 0 0 50px;
    border: none;
    outline: none;

}

input[type="submit"]{
    width: 200px;
    height: 70px;
    background-color: red;
    color: white;
    border-radius: 0 50px 50px 0;
    border: none;
    outline: none;
    font-size: 18px;
    cursor: pointer;
    transition: 0.4s;
}

input[type="submit"]:hover{
  font-size: 23px;
  transition: 0.4s;
}



/* section9 */


.section9{
    background-color: black;
    padding: 30px;
}

.part1{
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.part11 h4{
  font-weight: 400;
  font-size: 19px;
  cursor: pointer;
}

.part12 h3{
    font-weight: 400;
  font-size: 19px;
  cursor: pointer;
}

.part121 img, .part122 img{
    width: 24px;
    height: 24px;
    margin-right: 20px;
}

.part121{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin: 5px;
}

.part122{
  display: flex;
  flex-direction: row;
}

.part2{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px;
}




/* Icon Hover Effect */

.part2 img:hover{
   transform: rotate(360deg);
   transition: 0.8s; cursor: pointer; }

.part3{
  display: flex;
  color: white;
  justify-content: space-between;
  padding: 50px ;
  font-weight: 100;
}

.part3 h4{
  font-size: 18px;
  font-weight: 100;
  cursor: pointer;
}

